[package]
name = "fafnir"
version = "0.1.0"
authors = ["Adrien Matissart <a.matissart@qwantresearch.com>"]
edition = "2018"

[dependencies]
log = "0.4"
geo-types = "0.4"
postgres = "0.15"
fallible-iterator = "0.1"
mimirsbrunn = { git = "https://github.com/canalTP/mimirsbrunn", rev = "00c3874" }
mimir = { git = "https://github.com/canalTP/mimirsbrunn", rev = "00c3874" }
structopt = "0.2"
slog = { version = "2.1", features = ["max_level_trace", "release_max_level_info"]}
slog-scope = "4.0"
itertools = "0.7.3"
par-map = "0.1.4"
num_cpus = "1.8.0"
rayon = "1.0"

[dev-dependencies]
retry = "*"
hyper = "0.10"
bragi = { git = "https://github.com/canalTP/mimirsbrunn", rev = "00c3874" }
cosmogony = "0.5"
rs-es = {version = "0.10", default-features = false}
serde = {version = "1", features = ["rc"]}
serde_derive = "1"
serde_json = "1"
failure = "0.1"
approx = "0.2.0"
