[package]
name = "fafnir"
version = "0.2.0"
authors = ["Adrien Matissart <a.matissart@qwantresearch.com>"]
edition = "2018"

[dependencies]
geo-types = "0.4"
postgres = "0.17"
mimirsbrunn = { git = "https://github.com/canalTP/mimirsbrunn", rev = "456e0be" }
mimir = { git = "https://github.com/canalTP/mimirsbrunn", rev = "456e0be" }
structopt = "0.3"
log = { version = "0.4", features = ["release_max_level_info"] }
slog = { version = "2.1", features = ["max_level_trace", "release_max_level_info"]}
slog-scope = "4.0"
itertools = "0.8"
par-map = "0.1.4"
num_cpus = "1.12"
once_cell = "1.3"

[dev-dependencies]
retry = "*"
hyper = "0.10"
bragi = { git = "https://github.com/canalTP/mimirsbrunn", rev = "456e0be" }
cosmogony = "0.7"
rs-es = {version = "0.12", default-features = false}
serde = {version = "1", features = ["rc"]}
serde_derive = "1"
serde_json = "1"
failure = "0.1"
approx = "0.2.0"
